{% extends 'layout.html.twig' %}

{% block title %}List of Reservations .{% endblock %}

{% block content %}
    <div class="container mx-auto my-8">
        <h1 class="text-3xl font-semibold mb-6">List of Reservations</h1>

        {% if list|length > 0 %}
            <table class="min-w-full bg-white border border-gray-300 rounded-lg overflow-hidden">
                <thead class="bg-gray-200">
                    <tr>
                        <th class="py-2 px-4 border-b">Reservation ID</th>
                        <th class="py-2 px-4 border-b">User</th>
                        <th class="py-2 px-4 border-b">Start Date</th>
                        <th class="py-2 px-4 border-b">End Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for reservation in list %}
                        <tr class="{{ loop.index is odd ? 'bg-gray-100' }}">
                            <td class="py-2 px-4 border-b">{{ reservation.id }}</td>
                            <td class="py-2 px-4 border-b">{{ reservation.getUser().getUsername() }}</td>
                            <td class="py-2 px-4 border-b">{{ reservation.dateStart|date('Y-m-d H:i') }}</td>
                            <td class="py-2 px-4 border-b">{{ reservation.dateEnd|date('Y-m-d H:i') }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p class="text-gray-500">No reservations found.</p>
        {% endif %}
    </div>
{% endblock %}
